<%- include('partials/header') -%>

<section class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4 mx-3">
    <section class="col-6">
        <img src="public/img/friends.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="graphic of friends eating at table">
    </section>
    <section class="col-6">
        <h1 class="display-5 fw-bold mb-3">We can't lose the recipes</h1>
        <p class="lead">
            Explore a wide selection of recipes submitted from across the African diaspora. Let’s continue to carry on our family legacies and culture via food and Sunday Dinners.
        </p>
        <section class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/auth/google" class="btn btn-warning">
                <i class="bi bi-google left"></i> Log In With Google
            </a>
        </section>
    </section>
</section>

<%- include('partials/footer') -%>